@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Employee Management System</h1>
    <p class="lead">Built with ASP.NET Core MVC + Entity Framework Core + SQL Server</p>
    <hr>
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">.NET Core</h5>
                    <p class="card-text">RESTful API with full CRUD operations</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Entity Framework</h5>
                    <p class="card-text">SQL Server database with EF Core ORM</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">MVC Architecture</h5>
                    <p class="card-text">Clean separation of concerns</p>
                </div>
            </div>
        </div>
    </div>
    <a href="/Employee" class="btn btn-primary btn-lg mt-4">View Employees</a>
</div>
